/*general styles*/

div {
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

img {
  width:100px;
  height:100px;
}

.hidden {
  visibility: hidden;
}

/*containers*/

.container {
  padding: 10px;
  /*border: 1px solid red;*/
  vertical-align: middle;
}

.inline_container {
  display: inline-block;
}

.master_container {
  width: 80%;
}

.big_container {
  width: 70%;
}

.medium_container {
  width: 45%;
}

.small_container {
  width: 20%;
  min-width: 120px;
}

#title_container {
  width: 95%;
  border-bottom: 1px solid black;
}

#startup_container {
  width: 95%;
  min-height: 250px;
}

#button_container {
  width: 95%;
  min-height: 50px;
  vertical-align: center;
}

/*texts*/

h1 {
  font-weight: lighter;
  font-size: 3em;
  font-family: sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 3em;
  font-family: sans-serif;
}

p {
  text-align: center;
  font-size: 1.5em;
}

.timer_red {
  color: crimson;
}

/*buttons*/

button {
  min-width: 110px;
  margin-left: 5px;
  margin-right: 5px; 
  text-align: center;
  padding: 10px;
  background-color: white;
  font-size: 1.5em;
}

#start_button {
  margin-top: 50px;
  background-color: white;
  vertical-align: center;
  border: 5px solid black;
  border-radius: 10px;
  font-weight: bold;
}

#start_button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#next {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  vertical-align: center;
  float: right;
}

#next:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#back {
  margin-top: 10px;
  color: grey;
  border:none;
  border-bottom: 1px solid lightgrey;
  vertical-align: center;
  padding: 2px;
  float: left;
}

#back:hover {
  cursor: pointer;
}